mat-card {
    width: 30%;
    margin: 10% auto;
    text-align: center;
    background-color:#283593 !important;

    
}
mat-form-field {
    margin: 0 auto;
    width: 60%;
}
button {
    margin: 0 auto;
    width: 50%;
}