/* table {
    
    margin: 25px auto;
    width: 60%;
    background-color: #283593;
  } */

  .mat-card {
    margin-top: 15px;
    width: 300px;
      height: 350px;
      overflow-y: auto;
      background-color: transparent;
      color: black;
    }
  
    mat-card-subtitle {
      color: black;
    }
  
  
    .container {
      padding: 10px;
      
    }
    
    .grid-item {
   
      align-items: center;
    }
  
    .img-container {
        
        text-align: center;
       
    }
  .rating {
      margin-top: 15px;
        
    }
  
    mat-expansion-panel  {
      background-color:#283593 !important;
  }

  mat-card-content {
    margin-top: 25px;
  }